body{
	background: #eeeeee;
	font-family: 'Open Sans', sans-serif;

}
.logo{
	width: 60px;
	height: 70px;
	position: absolute;
}

.botonera li{
	display: inline-block;
	margin-left: 8px;
	font-weight: 700;
	font-size: 20px;
}
.botonera li a{
	color: #666;

}
.botonera li a:hover{
	color: black;
	text-decoration: none;
}


header{
	background: white; 
	padding-top: 15px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 34242;
}

.principal{
	background: red;
	height: 90vh;
	background-color: greenyellow; 
	background-image: url(/pexels-tara-winstead-7111579.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.estilo_h1{
text-shadow: 1px 1px 2px black;
}
.estilo_h1_dolar{
	text-shadow: 1px 1px 2px black;
	margin: 10px;
	font-weight: 700;
	
}
.estilo_h4{
	text-shadow: 1px 1px 2px black;
}
.estilo_h3{
	color: white;
	text-shadow: 1px 1px 2px black;
	margin: 10px;
}
#dolarButton{
	margin: 10px;
}

.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  /* alineacion vertical */
  align-items: center;
   /* alineacion horizontal */
  justify-content: center;
}

.cta{
	text-align: center;
}

h1{
	font-weight: 700;
	font-size: 50px;
	color: white;
}

.orange{

	background: #85bb65;
}

.nosotros{
	width: 100%;
	height: fit-content;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(/pexels-tara-winstead-7111579.jpg);
}



.servicios{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 150px;

}
#prestamosPersonales{
	margin-top: -20px;
	margin-bottom: -20px;

}


.servicios img{
	width: 40%;
	text-align: center;
}

.servicios h1{
	color:#fdfdfd;
	
	
	
	
}
.servicios .images{
	padding-top: 30px;
}

.images .col-md-3{
	padding-top: 20px;

}
.social{
	text-align: center;
}
.social img{
	width: 30%;
	text-align: center;
}

footer{
	
	height: 50vh;
	padding-top: 30px;
}
footer h1{
	text-align: center;
	font-weight: 100;
}

#home {
	color: white;
}
.col-xs-4{
	text-align: center;
}


.tarjetasa{
	display: none;
	width: 1125px;
	margin: 20px;
	margin-left: 125px;
	
	border-radius: 10px ;
	background-color: white;
	font-family: sans-serif;
	color: #4a4d48;
	box-shadow: 4px 4px 8px  5px rgba(15, 15, 15, 0.35);
	
	
}


#my-form{
	
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 4px 4px 8px  5px rgba(15, 15, 15, 0.35) ;
	
}

#monto{
	margin-top: 50px;
	margin-bottom: -5px;
	width: 500px;
	
}
#nombre{
	width: 500px;
	margin-bottom: -30px;
}
#apellido{
	width: 500px;
	margin-bottom: -30px;
}
#cuotas{
	width: 400px !important; 
	
} 

#email{
	
	margin-bottom: 50px;
	width: 500px;
}

#form_div{
	
	display: flex;
	justify-content: center;
	width: 600px;
	margin-left: 370px;
	
	
}

#btnLoad{
	width: 500px;
	
	margin-bottom: 50px;
}


/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { }
@media only screen and (min-width: 324px) and (max-width: 736px) {*/
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
  /* iPhone only */
  /* Styles */
  .off {
    display: none !important;
  }
  .on {
    display: block !important;
  }
  .col-md-2 {
    width: 100%;
  }
  .social img{
  	width: 100%;
  }
  .botonera li a {
    font-size: 13px;
}
.nosotros{
	height: 400px;
	overflow: hidden;
	padding-top: 15px;
}
#home{
	padding-top: 65px;
}

h1{
	font-size: 30px;
}

footer{
	padding-top: 10px;
}

}